:root {
  background-image: url('/Interface/Images/studio-background-concept-abstract-empty-light-gradient-purple-studio-room-background-product-plain-studio-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@font-face {
    font-family: 'Bubbles';
    src: url('/Interface/Fonts/FuzzyBubbles-Regular.ttf') ;
  }
  @font-face {
    font-family: 'Flavors';
    src: url('/Interface/Fonts/Flavors-Regular.ttf') ;
  }
  *{
    font-family: Bubbles;
    font-weight: bold;
  }
img{
    position: absolute;
    width: 450px;
    height: 450px;
    top :15%;
    right: 3%;
}
#sentence{
    position: absolute;  
    top: 2%;
    left :8%;
    right: 5%;
    font-family: Bubbles;
  
}
#resultForm{
  position: absolute;
  left : 10%;
  top : 20%;
}
#dish_name{
  height: 30px;

}
#ingredients{
  height: 150px;
 
}
#tools{
  height: 75px;
 

}
.resultt{
  margin-top: 15px;
  width: 400px;
  border-radius: 8px;
  border-color: purple;
  
}

#result {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px; /* Adjust the height as needed */
}

#submit{
  height: 50px;
  width: 100px;
  font-family:Bubbles ;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 15px;
  border-color: purple;
  background-color: rgb(255, 217, 224);
  cursor: pointer;
}